.TrafficNow {
  color: var(--color-text);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: 90%;
  /* 当屏幕宽度大于300像素时，设置为一行两列 */
  @media only screen and (min-width: 300px) {
    grid-template-columns: 49% 49%;
  }
  grid-gap: 10px;

  .sec {
    padding: 10px;
    background-color: var(--color-bg-card);
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    div:nth-child(1) {
      color: var(--color-text-secondary);
      font-size: 0.7em;
    }
    div:nth-child(2) {
      padding: 10px 0 0;
      font-size: 1.8em;
    }
  }
}
